body{
  background-color: #ccc;
}
.taiji{
  width: 150px;
  height: 300px;
  margin: 100px auto;
  border-radius: 50%;
  background-color: white;
  border-left: 150px solid black;
  position: relative;
}
.taiji::before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  padding: 25px;
  border-radius: 50%;
  border: 50px solid #000;
  background-color: white;
  left: -75px;
  top: 0;
}
.taiji::after{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  padding: 25px;
  border-radius: 50%;
  border: 50px solid #fff;
  background-color: black;
  left: -75px;
  bottom: 0;
}